body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  box-sizing: border-box;
  flex: 1;
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #dcdcdc;
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

th {
  border: 1px solid #ffffff;
  background-color: #7a29d1;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
  text-align: center;
}

td {
  border: 1px solid #ffffff;
  color: black;
  padding: 8px;
}

td:nth-child(6) {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

button.remover {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  color: black;
}

button.remover:hover {
  background-color: #c62828;
  color: white;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
